<div class="card w-100">
 

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let img of servizio.images ; let i = index" class="carousel-item {{i === 0 ? 'active' : ''}}">
            <img [src]="img.base64" class="d-block w-100 rounded" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="card-body">
      <h5 class="card-title">{{servizio.nome}}</h5>
      <p class="card-text" [innerHTML]="servizio.nomeExt"></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>