<div class="card  w-100 p-3 mb-2">
  <div class="col-12 bg-light p-3 d-flex justify-content-end">
    <button mat-stroked-button class="button-error me-3" (click)="annulla()">
      Annulla
    </button>
    <button mat-stroked-button class="button-success me-3" (click)="salva">
      Conferma
    </button>
  </div>

  <div class="col-12 bg-light p-3 ">
    <mat-vertical-stepper [linear]="true" #stepper [animationDuration]="'1000'">
      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <ng-template matStepLabel>Nome del prodotto ( obbligatorio )</ng-template>
              <mat-form-field class="w-50" appearance="fill">
                <input matInput placeholder="Inserisci il nome del prodotto" [(ngModel)]="prodotto.nome" formControlName="nameCtrl" required>
                <mat-error *ngIf="nameFormGroup.controls['nameCtrl'].invalid">
                  Il nome del prodotto è un dato obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-stroked-button class="button-primary me-3" matStepperNext>Avanti</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="typeFormGroup">
        <form [formGroup]="typeFormGroup">

          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <ng-template matStepLabel>Seleziona il tipo di prodotto ( obbligatorio )</ng-template>
              <mat-form-field class="w-50" appearance="fill">
                <mat-label>Seleziona la tipologia</mat-label>
                <mat-select (change)="onChangeTypeProdotto($event)" disableRipple formControlName="typeCtrl" required>
                  <mat-option *ngFor="let type of domini" (click) = "prodotto.tipoServizio = type" [value]="type">{{type.descrizione}}</mat-option>
                </mat-select>
                <mat-error *ngIf="typeFormGroup.controls['typeCtrl'].invalid">
                  Il tipo di prodotto è un dato obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-stroked-button class="button-yellow me-3" matStepperPrevious>Indietro</button>
              <button mat-stroked-button class="button-primary me-3" matStepperNext>Avanti</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="priceFormGroup">
        <form [formGroup]="priceFormGroup">
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <ng-template matStepLabel>Prezzo del prodotto ( obbligatorio )</ng-template>
              <mat-form-field class="w-50" appearance="fill">
                <input matInput type="text" [options]="{ prefix: '€ '}"  currencyMask  [(ngModel)]="prodotto.prezzo" placeholder="Inserisci il prezzo del prodotto" formControlName="priceCtrl" required/>
                <mat-error *ngIf="priceFormGroup.controls['priceCtrl'].invalid">
                  Il prezzo del prodotto è un dato obbligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-stroked-button class="button-yellow me-3" matStepperPrevious>Indietro</button>
              <button mat-stroked-button class="button-primary me-3" matStepperNext>Avanti</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <ng-template matStepLabel>Descrizione del prodotto</ng-template>
              <app-text-editor [title]="'Descrizione estesa del prodotto'" [(text)]="prodotto.descrizione"></app-text-editor>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-stroked-button class="button-yellow me-3" matStepperPrevious>Indietro</button>
              <button mat-stroked-button class="button-primary me-3" matStepperNext>Avanti</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <div class="row mt-2">
          <div class="col-12 d-flex justify-content-center px-0">
            <ng-template matStepLabel>Immagini del prodotto</ng-template>
            <app-images-editor [images]="prodotto.images" (imagesEmitter)="retrieveImages($event)"></app-images-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button mat-stroked-button class="button-yellow me-3" matStepperPrevious>Indietro</button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>