
<div *ngIf="addProdottoAction" class="row">
    {{prodottoSelected | json}}
    <div  class="col-12 d-flex justify-content-end mb-3 bg-light p-3">
        <button mat-button (click)="close('prodotto')">
            annulla
        </button>
        <button mat-button (click)="save('prodotto')">
            Salva prodotto
        </button>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
            
<!--         <app-card-prodotto [prodotto]="prodottoSelected"></app-card-prodotto>
 -->    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
            
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Inserisci nome del prodotto*</mat-label>
            <input matInput type="text" [(ngModel)]="prodottoSelected.nome">
            <button *ngIf="prodottoSelected.nome" matSuffix mat-icon-button aria-label="Clear" (click)="prodottoSelected.nome=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Inserisci nome esteso del prodotto</mat-label>
            <input matInput type="text" [(ngModel)]="prodottoSelected.nomeExt">
            <button *ngIf="prodottoSelected.nomeExt" matSuffix mat-icon-button aria-label="Clear" (click)="prodottoSelected.nomeExt=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Prezzo €</mat-label>
            <input matInput type="number" (ngModelChange)="prodottoSelected.prezzo = $event" [ngModel]="prodottoSelected.prezzo">
           
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <button mat-button [matMenuTriggerFor]="menu" class="w-50 border py-2">{{prodottoSelected.tipoServizio ? prodottoSelected.tipoServizio.descrizione : 'Scegli tipologia prodotto*'}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="prodottoSelected.tipoServizio = dominio" *ngFor="let dominio of domini">{{dominio.descrizione}}</button>
        </mat-menu>
        
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <angular-editor [(ngModel)]="prodottoSelected.descrizione" [config]="editorConfig"></angular-editor>
    </div>
    
</div>







<div *ngIf="addEventoAction" class="row">
    {{eventoSelected | json}}
    <div  class="col-12 d-flex justify-content-end mb-3 bg-light p-3">
        <button mat-button (click)="close('evento')">
            annulla
        </button>
        <button mat-button (click)="save('evento')">
            Salva evento
        </button>
    </div>

    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
            
<!--         <app-card-evento [evento]="eventoSelected"></app-card-evento>
 -->    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
            
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Inserisci nome dell'evento*</mat-label>
            <input matInput type="text" [(ngModel)]="eventoSelected.nome">
            <button *ngIf="eventoSelected.nome" matSuffix mat-icon-button aria-label="Clear" (click)="eventoSelected.nome=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Inserisci nome esteso dell'evento</mat-label>
            <input matInput type="text" [(ngModel)]="eventoSelected.nomeExt">
            <button *ngIf="eventoSelected.nomeExt" matSuffix mat-icon-button aria-label="Clear" (click)="eventoSelected.nomeExt=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <mat-form-field appearance="outline" class="example-form-field w-50">
            <mat-label>Prezzo €</mat-label>
            <input matInput type="number" (ngModelChange)="eventoSelected.prezzo = $event" [ngModel]="eventoSelected.prezzo">
           
        </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <button mat-button [matMenuTriggerFor]="menu" class="w-50 border py-2">{{eventoSelected.tipoServizio ? eventoSelected.tipoServizio.descrizione : 'Scegli tipologia evento*'}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="eventoSelected.tipoServizio = dominio" *ngFor="let dominio of domini">{{dominio.descrizione}}</button>
        </mat-menu>
        
    </div>
    <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <angular-editor [(ngModel)]="eventoSelected.descrizione" [config]="editorConfig"></angular-editor>
    </div>
    
</div>









<div *ngIf="!addProdottoAction && !addEventoAction" class="row">
    <div  class="col-12 d-flex justify-content-end mb-3">
        <button mat-button (click)="add('prodotto')">
            Aggiungi Prodotto
            <img src="/assets/svg/square-plus.svg" class="img-buttons ms-2" alt="image"> 
        </button>
        <button mat-button (click)="add('evento')">
            Aggiungi Evento
            <img src="/assets/svg/square-plus.svg" class="img-buttons ms-2" alt="image"> 
        </button>
    </div>
</div>



<div *ngIf="!addProdottoAction && !addEventoAction">
    <div  class="col-12 mb-2">
        <div class="col-12 bg-light p-3"> 
            <p class="my-0"><strong>Tutti i prodotti/eventi :</strong></p>
        </div>
    </div>

    <div *ngIf="mapProdotti && mapProdotti.size > 0">
        <div *ngFor="let value of mapProdotti | keyvalue" class="row mb-4 bg-light rounded p-2">
            <div class="col-12 d-flex justify-content-center pt-3 pb-3">
                <p class="text-h3"><strong>Prodotti di {{value.value[0].tipoServizio.descrizione}}</strong></p>
            </div>
            <div class="col-12 d-flex justify-content-center pt-3 pb-3">
                <p [innerHTML]="value.value[0].tipoServizio.descExt"></p>
            </div>
            <div class="col-12 px-3 py-3 {{ds.isMobile ? '' : 'd-flex justify-content-around'  }} bg-white mt-2">
                <div *ngFor="let prodotto of value.value" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center flex-column inner-corsi rounded">
                    <div class="col-12 d-flex justify-content-center bg-light mb-2">
                        <button mat-button (click)="prodottoSelected = prodotto ; delete('prodotto')">
                            Elimina
                        </button>
                        <button mat-button (click)="prodottoSelected = prodotto ; addProdottoAction = true">
                            Modifica
                        </button>
                    </div>
                    {{prodotto | json}}
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div *ngIf="mapEventi && mapEventi.size > 0">
        <div *ngFor="let value of mapEventi | keyvalue" class="row mb-4 bg-light rounded p-2">
            <div class="col-12 d-flex justify-content-center pt-3 pb-3">
                <p class="text-h3"><strong>Eventi di {{value.value[0].tipoServizio.descrizione}}</strong></p>
            </div>
            <div class="col-12 d-flex justify-content-center pt-3 pb-3">
                <p [innerHTML]="value.value[0].tipoServizio.descExt"></p>
            </div>
            <div class="col-12 px-3 py-3 {{ds.isMobile ? '' : 'd-flex justify-content-around'  }} bg-white mt-2">
                <div *ngFor="let evento of value.value"
                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center flex-column inner-corsi rounded">
                    <div class="col-12 d-flex justify-content-center bg-light mb-2">
                        <button mat-button (click)="eventoSelected = evento ; delete('evento')">
                            Elimina
                        </button>
                        <button mat-button (click)="eventoSelected = evento ; addEventoAction = true">
                            Modifica
                        </button>
                    </div>
                    {{evento | json}}
<!--                     <app-card-evento [evento]="evento"></app-card-evento>
 -->                </div>
            </div>
        </div>
    </div>
    
</div>
