
<div *ngIf="addProdottoAction" class="row">
    <app-editor-prodotto [prodotto]="prodottoSelected" (prodottoEmitter) = "retrieveProdotto($event)"></app-editor-prodotto>
</div>
<div *ngIf="addEventoAction" class="row">
    <app-editor-evento [evento]="eventoSelected" (eventoEmitter) = "retrieveEvento($event)"></app-editor-evento>
</div>


<div *ngIf="!addProdottoAction && !addEventoAction" class="row px-3">
    <div  class="col-12 d-flex justify-content-end mb-3 p-0">
        <button mat-stroked-button class="button-primary me-3" (click)="add('prodotto')">
            Aggiungi Prodotto
        </button>
        <button mat-stroked-button class="button-primary" (click)="add('evento')">
            Aggiungi Evento
        </button>
    </div>
    <div class="col-12 mb-3 p-0">
        <mat-divider></mat-divider>
    </div>
</div>

<div *ngIf="!addProdottoAction && !addEventoAction" class="row  p-3">
    <div class="col-12 bg-light p-3"> 
        <p class="my-0"><strong>Elenco dei prodotti ed eventi :</strong></p>
    </div>
    <div *ngIf="mapProdotti && mapProdotti.size > 0" class="col-12">
        <div *ngFor="let value of mapProdotti | keyvalue" class="col-12">
            <div class="col-12 pt-3 pb-3 mt-2">
                <p class="text-h3"><strong>Prodotti di {{value.value[0].tipoServizio.descrizione}}</strong></p>
            </div>
            <div class="col-12 d-flex justify-content-center  pb-3">
                <p [innerHTML]="value.value[0].tipoServizio.descExt"></p>
            </div>
            <div class="col-12 px-3 py-3 {{ds.isMobile ? '' : 'd-flex justify-content-around'  }} bg-white mt-2">
                <div *ngFor="let prodotto of value.value" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center flex-column inner-corsi rounded">
                    <div class="col-12 d-flex justify-content-center bg-light mb-2">
                        <button mat-button (click)="prodottoSelected = prodotto ; delete('prodotto')">
                            Elimina
                        </button>
                        <button mat-button (click)="prodottoSelected = prodotto ; addProdottoAction = true">
                            Modifica
                        </button>
                    </div>
                    <app-card-servizio [prodotto]="prodotto"></app-card-servizio>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="mapEventi && mapEventi.size > 0" class="col-12">
        <div *ngFor="let value of mapEventi | keyvalue" class="col-12">
            <div class="col-12 pt-3 pb-3 mt-2">
                <p class="text-h3"><strong>Evento di {{value.value[0].tipoServizio.descrizione}}</strong></p>
            </div>
            <div class="col-12 d-flex justify-content-center  pb-3">
                <p [innerHTML]="value.value[0].tipoServizio.descExt"></p>
            </div>
            <div class="col-12 px-3 py-3 {{ds.isMobile ? '' : 'd-flex justify-content-around'  }} bg-white mt-2">
                <div *ngFor="let evento of value.value" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center flex-column inner-corsi rounded">
                    <div class="col-12 d-flex justify-content-center bg-light mb-2">
                        <button mat-button (click)="eventoSelected = evento ; delete('evento')">
                            Elimina
                        </button>
                        <button mat-button (click)="eventoSelected = evento ; addProdottoAction = true">
                            Modifica
                        </button>
                    </div>
                    <app-card-servizio [evento]="evento"></app-card-servizio>
                </div>
            </div>
        </div>

    </div>
</div>



    

