<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <button mat-stroked-button (click)="addAction()">Nuova immagine</button>
    </div>
    <div *ngFor="let img of images; let i = index" class="col-12">
        <div class="card">
            <div class="col-12 d-flex justify-content-end">
                <mat-label>Immagine {{ i+1}}</mat-label> 
                <button mat-stroked-button (click)="imgSelected = img">Modifica</button>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <img src="{{img.base64}}" />
            </div>
        </div>
        
        
        <div class="col-12 d-flex justify-content-center">
            <div class="mb-3">
                <input class="form-control form-control-sm" id="formFileSm" (change)="fileChangeEvent($event , img )" type="file">
              </div>
    
        </div>
        <div class="col-12 d-flex justify-content-center">
            <image-cropper
            style="width: 400px;"
            [imageChangedEvent]="img.imageChangedEvent"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="containWithinAspectRatio"
            [aspectRatio]="4 / 4"
            [resizeToWidth]="256"
            [cropperMinWidth]="128"
            [onlyScaleDown]="true"
            [roundCropper]="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
            [alignImage]="'left'"
            [style.display]="showCropper ? null : 'none'"
            format="png"
            (imageCropped)="imageCropped($event , img)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady($event , img)"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        </div>
    </div>
</div>


<div *ngIf="imgSelected" class="row">
    
</div>

<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />