<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="mb-3">
            <input class="form-control form-control-sm" id="formFileSm" (change)="fileChangeEvent($event)" type="file">
          </div>

    </div>
    <div class="col-12 d-flex justify-content-center">
        <image-cropper
        style="width: 400px;"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="256"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [alignImage]="'left'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    </div>
</div>

<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />