

<div *ngIf="loaded" class="row w-100 me-0 ms-0">
    <div class="col-12 p-3">
        <mat-tab-group class="card-glass">
            <mat-tab label="Gestione tipologie di prodotti ed eventi" class="shadow">
                <app-list-tipi-servizi></app-list-tipi-servizi>
            </mat-tab>
            <mat-tab label="Gestione dei prodotti ed eventi"> 
                <app-list-servizi></app-list-servizi>
            </mat-tab>
            <mat-tab label="Gestione delle prenotazioni"> Content 3 </mat-tab>
            <mat-tab label="Gestione degli acquisti"> Content 3 </mat-tab>
          </mat-tab-group>
    </div>
</div>