<div mat-dialog-content>
    <div class="row">
        <p class="text-center">Accedi come amministratore</p>
        <div class="col-12 px-0">
            <div class="form-outline mb-4">
                <input type="email" id="loginName" [(ngModel)]="utente.email" class="form-control" />
                <label class="form-label" for="loginName">Email</label>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" [(ngModel)]="requestLogin.password" id="loginPassword" class="form-control" />
                <label class="form-label" for="loginPassword">Password</label>
            </div>
        </div>
    </div>
</div>
<div  mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cancel()">Annulla</button>
    <button mat-button *ngIf="login && enableLogin" color="primary" (click) = "loginUser()" cdkFocusInitial>Accedi</button>
</div>